html { 
         font-family: sans-serif; 
      } 
 
      body { 
         width: 50%; 
        max-width: 800px; 
         min-width: 480px; 
        margin: 0 auto; 
        background-color: #838689;
      } 
 
       .response { 
         color: #000; 
        padding: 3px; 
       }